.container_h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;
}

.container_divs {
  display: flex;
  gap: 10px;
  align-items: center;
}

.container_divs input {
  height: 40px;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid grey;
}

.container_divs button {
  height: 40px;
}

.card-img-top {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-custom {
  height: 100%; /* faz o card preencher a altura do container pai */
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1; /* faz o conteúdo se expandir para preencher o espaço restante */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
