.bgWhite {
    background: #fff;
}

.bgGray {
    background: #f7f7f9;
}

.section {
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 2rem; 
}
.cardHover {
    transition: transform 0.5s;
}

.cardHover:hover {
    transform: scale(1.05);
}